/* HTML5 ✰ Boilerplate
 * ==|== normalize ==========================================================
 */
* {
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-size: 100%;
  line-height: 1.231;
}
body,
button,
input,
select,
textarea {
  font-family: sans-serif;
  color: #222;
}
::-moz-selection {
  background: #DB493C;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #DB493C;
  color: #fff;
  text-shadow: none;
}
a {
  color: #00e;
}
a:visited {
  color: #551a8b;
}
a:focus {
  outline: 0;
}
a:hover, a:active {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b, strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before, q:after {
  content: "";
  content: none;
}
small {
  font-size: 85%;
}
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
ul, ol {
  /* margin: 1em 0; padding: 0 0 0 40px;*/
}
dd {
  margin: 0 0 0 40px;
}
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
label {
  cursor: pointer;
}
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button, input {
  line-height: normal;
  *overflow: visible;
}
table button, table input {
  *overflow: auto;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: top;
}
/* ==|== Mixins for base styles =================================================== */
.clearfix {
  zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
  clear: both;
}
/* ==|== Typography =================================================== */
@font-face {
  font-family: 'BebasNeueRegular';
  src: url('../font/bebasneue-webfont.eot');
  src: url('../font/bebasneue-webfont-iefix.eot') format('embedded-opentype'), url('../font/bebasneue-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FrutigerLTStd-Roman';
  src: url('../font/FrutigerLTStd-Roman.eot');
  src: url('../font/FrutigerLTStd-Roman-iefix.eot') format('embedded-opentype'), url('../font/frutigerltstd-roman-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
#event-info,
nav.primary,
.buy-ticket a,
section h2,
footer h2,
#selected-speaker h3.name,
#venue h3,
#sponsors h3 {
  font-family: 'BebasNeueRegular';
}
p, #contact, #join, #headline, #members, article {
  font-family: 'FrutigerLTStd-Roman';
}
h1,
h2,
h3,
h4 {
  font-weight: normal;
}
/* Ignore the position spacer when we can't have proper fixed positions*/
.ie6 .fixed-spacer {
  display: none;
}
/* ==|== primary styles =====================================================
   Author: Carl Wood | White October
   ========================================================================== */
/* Base styles */body {
  background: url('../img/background.jpg') 50% 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
a, a:visited {
  color: #1da3c8;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
/* Container */#container {
  height: auto;
  /*background-size:65%; */

  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
#foreground {
  height: auto;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  /*background-size:36%; */

}

form{
  margin-left: 130px;
}

form input[type="text"]{
  font-family: 'FrutigerLTStd-Roman';
  background: #ffffff;
  border: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  outline: none;
  padding: 5px;
  width: 400px;
}
form input[type="email"]{
  font-family: 'FrutigerLTStd-Roman';
  background: #ffffff;
  border: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  outline: none;
  padding: 5px;
  width: 400px;
}

form input[type="submit"]{
  background:#db493c;
  border: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  color: #000000;
  display: block;
  font-family: 'FrutigerLTStd-Roman';
  padding: 7px 25px;
}

/* Page wrapper */
#wrapper {
  width: 960px;
  margin: 0 auto;
  padding: 210px 0 20px 0;
}
/* Header */
header {
  min-width: 700px;
  background: #131b28;
  /*    padding:0 10%;*/

  width: 100%;
  z-index: 10000;
  position: fixed;
  /* Primary navigation */

}
header .container {
  min-width: 741px;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
header .container h1 {
  display: block;
  background: url('../img/logo.png') no-repeat scroll top left;
  background-size: 100%;
  width: 308px;
  height: 83px;
  float: left;
  margin-top: 30px;
  margin-bottom: 10px;
}
header .container h1 span {
  display: none;
}
header .container h1 a {
  display: block;
  width: 100%;
  height: 100%;
}
header .container h2#event-info {
  width: 250px;
  font-size: 1em;
  float: right;
  color: #fff;
  text-align: center;
  margin-top: 16px;
  padding-bottom: 22px;
  border-bottom: 2px solid #fff;
}
header .container h2#event-info .location {
  font-size: 2.4em;
  line-height: 1em;
  letter-spacing: 2px;
}
header .container h2#event-info time {
  display: block;
  font-size: 3.3em;
}
header .navcontainer {
  background: #1ea2c9;
  background: -moz-linear-gradient(top, #1ea2c9 0%, #1ea2c9 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1ea2c9), color-stop(100%, #1ea2c9));
  clear: both;
}
header .navcontainer nav {
  min-width: 741px;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  z-index: 100;
}
header .navcontainer nav a.section {
  color: #131b28;
  text-decoration: none;
  font-size: 1.8em;
	padding: 0 .7em;
  position: relative;
}
header .navcontainer nav a.section:hover, header .navcontainer nav a.section.selected {
  background: #131b28;
  color: #fff;
}
header .navcontainer nav a.section.selected:after {
  content: "";
  border-color: #131b28 transparent transparent transparent;
  border-style: solid;
  border-width: 13px;
  width: 0;
  height: 0;
  position: absolute;
  bottom: -25px;
  left: 40%;
}

.no-backgroundsize .container h1 {
  background-image: none;
  -ms-interpolation-mode: bicubic;
}
/* Top Headline */
#headline {
  padding: 20px;
  margin: 45px 110px 130px 150px;
}
#headline h1 {
  font-size: 3.1em;
  text-transform: uppercase;
  font-family: 'BebasNeueRegular';
}
#headline h1 span {
  color: #db493c;
}
#headline p {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.3em;
}
/* Main sections */
section {
  width: 80%;
  width: 900px;
  margin: 0 auto;
  background-color: rgba(243, 249, 250, 0.85);
  padding: 19px;
  padding-top: 40px;
  margin-bottom: 350px;
  zoom: 1;
  position: relative;
}
section:before, section:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
section:after {
  clear: both;
}
section .more {
  width: 42px;
  height: 39px;
  position: absolute;
  z-index: 50;
  background: url('../img/dot.png') no-repeat;
  background-position: -84px 0px;
}
section .more:hover {
  cursor: pointer;
}
section p {
  font-size: 0.8em;
  line-height: 1.75em;
  margin-bottom: 1em;
}
section h2 {
  background: #db493c;
  color: #fff;
  line-height: 1em;
  padding: 3px 15px;
  margin: -20px 0 0 -35px;
  font-size: 2.5em;
  letter-spacing: 0.07em;
  display: inline-block;
  float: left;
  clear: both;
  position: absolute;
  top: 0;
  left: 0;
}
section .bg-image {
  position: absolute;
}

section#events div {
	padding:14px 10px;
	font-family: 'FrutigerLTStd-Roman';
	border-bottom:solid 1px #cdcdcd;
	overflow:hidden;
}
section#events div a {
	display:block;
}
section#events a.schedule {
	left:0;
	position:absolute;
	top:-170px;
}
section#events h4 {
	width:130px;
	float:left;
	font-size:1.4em;
}
section#events div h3 {
	margin-left:130px;
	font-size:18px;
}
section#events div.break h3, 
section#events div.break h4,
section#events div.break h3 h3 a{
	color:#db493c;
}
section#events div.lunch-talk h3,
section#events div.lunch-talk h4{
	color:#db493c;
}
section#events div.lunch-talk h3 span,
section#events div.lunch-talk h4 span{
	color:#000;
}
section#events div.lunch-talk span {
	display:block;
	font-size: 18px;
}
section#events div.lunch-talk div {
	margin-left:130px;
	margin-top:10px;
	padding:0;
	border:0;
}
section#events div.lunch-talk .sponsor{
	float:right;
	width:134px;
	text-align:center;
	margin-right:10%;
	padding:0;
}
section#events div.lunch-talk .sponsor p {
	line-height:1em;
	font-size:0.7em;
	margin:0;
}
section#events div.speaker h3,
section#events div.speaker h3 a,
section#events div.speaker h4 {
	color:#1DA3C8;
	line-height:1.4em;
}
section#events div.speaker span {
	display:block;
}
section#events div.speaker span {
	color:#000;
}
section#events div.speaker a span {
	color:#000;
}
section#events div.speaker a:hover {
	text-decoration:none;
}
section#events div.lunch-talk .sponsor{
	float:right;
	width:134px;
	text-align:center;
	margin:0 10% 0 0;
	padding:0;
}
section#events div.after-party {
	border:0;
}
section#events div.after-party .sponsor{
	float:right;
	width:160px;
	text-align:left;
	margin-right:10%;
	border:0;
	padding:0;
}
section#events div.after-party .sponsor p {
	line-height:1em;
	margin-bottom:0.5em;
	font-size:0.7em;
}

section#members div {
  padding:14px 10px;
  font-family: 'FrutigerLTStd-Roman';
  border-bottom:solid 1px #cdcdcd;
  overflow:hidden;
}
section#members div a {
  display:block;
}

section#members h4 {
  width:130px;
  float:left;
  font-size:1.4em;
}
section#members div h3 {
  margin-left:130px;
  font-size:18px;
}

section#members div.member h3,
section#members div.member h3 a,
section#members div.member h4 {
  color:#1DA3C8;
  line-height:1.4em;
}
section#members div.member span {
  display:block;
}
section#members div.member span {
  color:#000;
}
section#members div.member a span {
  color:#000;
}
section#members div.member a:hover {
  text-decoration:none;
}

section#about div{
  padding:14px 10px;
  font-family: 'FrutigerLTStd-Roman';
  overflow:hidden;
  width: 800px;
}

section#about div h3{
  margin-left: 130px;
}

section#projects div {
  padding:14px 10px;
  font-family: 'FrutigerLTStd-Roman';
  border-bottom:solid 1px #cdcdcd;
  overflow:hidden;
}
section#projects div a {
  display:block;
}

section#projects h4 {
  width:130px;
  float:left;
  font-size:1.4em;
}
section#projects div h3 {
  margin-left:130px;
  font-size:18px;
}

section#projects div.project h3,
section#projects div.project h3 a,
section#projects div.project h4 {
  color:#1DA3C8;
  line-height:1.4em;
}
section#projects div.project span {
  display:block;
}
section#projects div.project span {
  color:#000;
}
section#projects div.project a span {
  color:#000;
}
section#projects div.project a:hover {
  text-decoration:none;
}

#contact h3{
  margin-left: 130px;
  font-size: 18px;
}

#join h3{
  margin-left: 130px;
  font-size: 18px;
}

/* ==|== media queries ====================================================== */
@media only screen and (min-width: 480px) {
  
}
@media only screen and (min-width: 768px) {
  
}
@media only screen and (max-width: 900px) {
  
}
/* ==|== print styles ======================================================= */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  a, a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr, img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
}

body{
  background-color: #555555;
}